# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "6"

BBPATH = "${TOPDIR}"
BBFILES ?= ""


BBLAYERS ?= " \
	/mnt/ext/poky/meta \
	/mnt/ext/poky/meta-yocto \
	/mnt/ext/poky/meta-yocto-bsp \
	/mnt/ext/poky/meta-java \
	/mnt/ext/poky/meta-mono \
	/mnt/ext/poky/meta-ts/meta-ts7500 \
	/mnt/ext/poky/meta-ts \
	/mnt/ext/poky/meta-openembedded/meta-oe \
	/mnt/ext/poky/meta-openembedded/meta-webserver \
	/mnt/ext/poky/meta-openembedded/meta-networking \
	"

BBFILE_PRIORITY_openembedded-layer = "1"
